<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <title>avis admin</title>
</head>
<body>
    <section class="hero is-success is-small">      
        <div class="hero-body">
          <div class="container has-text-centered">
          <h1 class="title is-1 has-text-left">Avis</h1>
        <section class="hero is-white">
          <div class="hero-body">
            <div class="table-container">
              <table class="table is-fullwidth has-background-grey-light">
                <tbody>
                  <tr>
                    <th class="is-light">Pseudo</th>
                    <th class="is-light">Message</th>
                    <th class="is-light">Ajouter l'avis</th>
                  </tr>
                  <% resultat.forEach((av) => { %>
                  <tr>
                    <td><input type="text" name="pseudo" class="input"  value="<%= av.pseudo %> "></td>
                    <td><input type="text" name="message" class="input"  value="<%= av.message %>"></td>
                    <td>
                      <%if( av.validation === 1) { %>
                    <form action="/gerant/avis/<%= av.avis_id %>/validation/null" method="post">
                      <input type="submit" value="Valider" class="button is-success ">
                    </form>
                    <% }else { %>
                      <form action="/gerant/avis/<%= av.avis_id %>/validation/1" method="post">
                       <input type="submit" value="Invalider" class="button is-danger ">
                      </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
             </div>
           </div>
         </section>
      </div>
    </div>
</section>

<%- include ("../partials/dashbordger.ejs") %>
</body>
</html>